.navbar {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 30px;
    height: 30px;
}

.logoutButton {
    background: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
}

.navRight {
    display: flex;
    align-items: center;
    
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
    border: 3px solid #0077ff;
    margin: 0 20px;
}
